<router-outlet></router-outlet>
<ng-http-loader 
    [backgroundColor]="'#ff0000'"
    [spinner]="spinkit.skWave"
    [debounceDelay]="100"
    [minDuration]="300"
    [extraDuration]="300">
</ng-http-loader>
<notifier-container></notifier-container>
<!-- Routed views go here -->
