<form class="login_form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="col-md-12">
      <div class="form-group">
      <label for="username">User Name: <i class="fa fa-asterisk" aria-hidden="true"></i></label>
      <input type="text" name="username" 
      class="form-control" placeholder="User Name" formControlName="username">
      </div>
  </div>
  <div class="col-md-12">
      <div class="form-group">
      <label for="password">Password: <i class="fa fa-asterisk" aria-hidden="true"></i></label>
      <input type="password" name="password" 
      class="form-control" placeholder="Password" formControlName="password">
      </div>
  </div>

  <div class="col-md-12">
    <button
      [disabled]="!loginForm.valid"
      class="btn btn-primary form-submit margin-top-sm"
      type="submit">
      Login
    </button>
  </div>

</form>
